In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('PS_20174392719_1491204439457_log.csv')
data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [3]:
data['type'].value_counts()

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: type, dtype: int64

In [4]:
data['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [5]:
data['type'] = data['type'].map({'CASH_OUT': 1,
                                 'PAYMENT': 2,
                                 'CASH_IN': 3,
                                 'TRANSFER': 4,
                                 'DEBIT': 5})
data['isFraud'] = data['isFraud'].map({0: 'NO FRAUD',
                                     1: 'FRAUD'})

In [6]:
data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,2,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,NO FRAUD,0
1,1,2,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,NO FRAUD,0
2,1,4,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,FRAUD,0
3,1,1,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,FRAUD,0
4,1,2,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,NO FRAUD,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,1,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,FRAUD,0
6362616,743,4,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,FRAUD,0
6362617,743,1,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,FRAUD,0
6362618,743,4,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,FRAUD,0
6362619,743,1,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,FRAUD,0

In [7]:
X = np.array(data[['type','amount', 'oldbalanceOrg', 'newbalanceOrig']])
y = np.array(data[['isFraud']])

In [8]:
y

array([['NO FRAUD'],
       ['NO FRAUD'],
       ['FRAUD'],
       ...,
       ['FRAUD'],
       ['FRAUD'],
       ['FRAUD']], dtype=object)

In [9]:
X

array([[2.00000000e+00, 9.83964000e+03, 1.70136000e+05, 1.60296360e+05],
       [2.00000000e+00, 1.86428000e+03, 2.12490000e+04, 1.93847200e+04],
       [4.00000000e+00, 1.81000000e+02, 1.81000000e+02, 0.00000000e+00],
       ...,
       [1.00000000e+00, 6.31140928e+06, 6.31140928e+06, 0.00000000e+00],
       [4.00000000e+00, 8.50002520e+05, 8.50002520e+05, 0.00000000e+00],
       [1.00000000e+00, 8.50002520e+05, 8.50002520e+05, 0.00000000e+00]])

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state = 0)

In [11]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(random_state=0)
classifier.fit(x_train, y_train)

DecisionTreeClassifier(random_state=0)

In [12]:
y_pred = classifier.predict(x_test)

[['NO FRAUD' 'NO FRAUD']
 ['NO FRAUD' 'NO FRAUD']
 ['NO FRAUD' 'NO FRAUD']
 ...
 ['NO FRAUD' 'NO FRAUD']
 ['NO FRAUD' 'NO FRAUD']
 ['NO FRAUD' 'NO FRAUD']]

In [21]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy Score: {:.2f} %'.format(accuracy*100))

Accuracy Score: 99.97 %

In [15]:
#try random transaction to detect fraud or not fraud
classifier.predict(np.array([[4,10000,11000,1000]]))

array(['NO FRAUD'], dtype=object)

In [16]:
classifier.predict(np.array([[1,2000,2000,0]]))

array(['FRAUD'], dtype=object)

In [17]:
classifier.predict(np.array([[1,500,10000,9500]]))

array(['NO FRAUD'], dtype=object)

In [34]:
classifier.predict(np.array([[4,5000,10000,5000]]))

array(['NO FRAUD'], dtype=object)

In [35]:
classifier.predict(np.array([[4,9910.25,9910.25,0]]))

array(['FRAUD'], dtype=object)

In [36]:
classifier.predict(np.array([[4,9999.25,10000,0.75]]))

array(['FRAUD'], dtype=object)